
body {
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
    padding: 0;
    margin: 0;
}


/* Old style Google menu bar */
header {
    font-size: 13px;
    padding: 4px;
    margin: 0;
    height: 20px;
}


.left {
    float: left;
    display: inline;
    overflow: hidden;
}

.right {
    float: right;
    display: inline;
}


footer {
    clear: both;
    margin-left:auto;
    margin-right:auto;
    color: #767676;
    font-size: 10px;
    padding: 32px 0 20px;
    text-align: center;
}

footer a {
    color: #767676;
    text-decoration: none;
}

#page-login {
    margin: 16px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}


#desktop {
    clear: both;
}

.toolbar {
    font: 82% arial,sans-serif;
    background: #ebeff9;
    border-bottom: 1px solid #6b90da;
    padding: 5px 10px 0 5px;
}

.toolbar > * {
    display: inline-block;
    color: #00c;
    cursor: pointer;
    margin: 5px 15px 6px 10px;
}

.item-list ul {
    padding-left: 4px;
    list-style: none;
}

.item-list li > * {
    padding: 0 4px;
}

.traffic {
    display: inline-block;
    width: 8px;
    height: 16px;
    margin: 0;
    padding: 0 1px;
}

.traffic.send {
    background-color: lightblue;
}

.traffic.receive {
    transition: background-color 0.5s ease;
    background-color: lightgreen;
}

.traffic.error {
    transition: background-color 0.5s ease;
    background-color: red;
}